In [69]:
import pandas as pd
import numpy as np

In [70]:
personal = pd.read_excel('data/jeju_personal.xlsx')
place = pd.read_excel('data/jeju_place_1.xlsx')
travel = pd.read_excel('data/jeju_travel.xlsx')

In [71]:
# preprocessing

personal = personal[[ "pid", "sex", "age", "marry"]]

place = place[["pid", "q3_1", "q3_2", "q3_3", "q3_4", "q3_5", 
                   "q3_6", "q3_7", "q3_8", "q3_9", "q3_10", "q3_11","q4",
                   "q4_1", "q4_2"]]

travel = travel[["pid","count","q1","q2","q2_1","q2_2_1","q2_2_2","q2_2_3","q2_2_4","q2_2_5"
                     ,"q2_2_6"]]


personal.columns = ["pid", "sex", "age", "marry"]



place.columns = ["pid", "act_nature", "act_food", "act_sports", "act_shop", "act_museum",
                   "act_movie", "act_bitch",  "act_report", "act_culture",
                   "act_history", "act_religion", "jplace","revisit", "recommend"]


travel.columns = ["pid","count","purpose","inform","num_people",
                    "relation1","relation2","relation3","relation4","relation5",
                    "relation6"]

travel = travel.drop_duplicates('pid',keep='first')
place = place.drop_duplicates('pid',keep='first')

data = pd.merge(personal, travel, on='pid')
data = pd.merge(data, place, on='pid')
data = data[["pid","sex","age","marry","count","purpose","inform","num_people",
                    "relation1","relation2","relation3","relation4","relation5",
                    "relation6","act_nature", "act_food", "act_sports", "act_shop", "act_museum",
                   "act_movie", "act_bitch",  "act_report", "act_culture",
                   "act_history", "act_religion", "jplace","revisit", "recommend"]]


data["num_people"] = data["num_people"].fillna(0)
data["relation1"] = data["relation1"].fillna(0)
data["relation2"] = data["relation2"].fillna(0)
data["relation3"] = data["relation3"].fillna(0)
data["relation4"] = data["relation4"].fillna(0)
data["relation5"] = data["relation5"].fillna(0)
data["relation6"] = data["relation6"].fillna(0)
data.isnull().sum()
data['relation'] = data[['relation1', 'relation2', 'relation3',
                            'relation4', 'relation5', 'relation6']].sum(axis=1)
data.drop(labels = ['relation1', 'relation2', 'relation3',
                    'relation4', 'relation5', 'relation6'], 
            axis = 1, inplace = True)
data['purpose'] = data['purpose'].astype(int)
data = data.fillna(0)


data["act_nature"] = data["act_nature"].map(lambda i: i/1 if i > 0 else 0).astype(int)
data["act_food"] = data["act_food"].map(lambda i: i/2 if i > 0 else 0).astype(int)
data["act_sports"] = data["act_sports"].map(lambda i: i/3 if i > 0 else 0).astype(int)
data["act_shop"] = data["act_shop"].map(lambda i: i/4 if i > 0 else 0).astype(int)
data["act_museum"] = data["act_museum"].map(lambda i: i/5 if i > 0 else 0).astype(int)
data["act_movie"] = data["act_movie"].map(lambda i: i/6 if i > 0 else 0).astype(int)
data["act_bitch"] = data["act_bitch"].map(lambda i: i/7 if i > 0 else 0).astype(int)
data["act_report"] = data["act_report"].map(lambda i: i/8 if i > 0 else 0).astype(int)
data["act_culture"] = data["act_culture"].map(lambda i: i/9 if i > 0 else 0).astype(int)
data["act_history"] = data["act_history"].map(lambda i: i/10 if i > 0 else 0).astype(int)
data["act_religion"] = data["act_religion"].map(lambda i: i/11 if i > 0 else 0).astype(int)

data['purpose_jplace'] = data['purpose'].astype(int)*1000 + data['jplace'].astype(int)
data.drop(labels = ['purpose'], axis = 1, inplace = True)
data.drop(labels = ['jplace'], axis = 1, inplace = True)

# print(data.dtypes)

#데이터 확인 해보기
count = 3
for index, row in data.iterrows():
    print(row,end = "\n\n")
    if index == count -1:
        break

pid               100101.0
sex                    2.0
age                    3.0
marry                  1.0
count                  2.0
inform                 1.0
num_people             1.0
act_nature             1.0
act_food               1.0
act_sports             1.0
act_shop               0.0
act_museum             0.0
act_movie              0.0
act_bitch              0.0
act_report             0.0
act_culture            0.0
act_history            0.0
act_religion           0.0
revisit                4.0
recommend              4.0
relation               1.0
purpose_jplace     60004.0
Name: 0, dtype: float64

pid               100102.0
sex                    1.0
age                    4.0
marry                  1.0
count                  3.0
inform                 2.0
num_people             0.0
act_nature             3.0
act_food               1.0
act_sports             0.0
act_shop               0.0
act_museum             0.0
act_movie              0.0
act_bitch              0.0
act_report             0.0
act_culture            0.0
act_history            0.0
act_religion           0.0
revisit                3.0
recommend              3.0
relation               0.0
purpose_jplace    174004.0
Name: 1, dtype: float64

pid               100103.0
sex                    1.0
age                    2.0
marry                  1.0
count                  2.0
inform                 1.0
num_people             4.0
act_nature             5.0
act_food               0.0
act_sports             1.0
act_shop               0.0
act_museum             0.0
act_movie              0.0
act_bitch              0.0
act_report             0.0
act_culture            0.0
act_history            0.0
act_religion           0.0
revisit                4.0
recommend              4.0
relation               1.0
purpose_jplace     77001.0
Name: 2, dtype: float64

In [72]:
act_data_pid = data[["pid", "act_nature", "act_food", "act_sports", "act_shop", "act_museum",
                   "act_movie", "act_bitch",  "act_report", "act_culture",
                   "act_history", "act_religion","purpose_jplace"]]

act_data = data[[ "act_nature", "act_food", "act_sports", "act_shop", "act_museum",
                   "act_movie", "act_bitch",  "act_report", "act_culture",
                   "act_history", "act_religion", "purpose_jplace"]]

noact_data_pid = data[["pid", "sex", "age","marry",  "recommend", "num_people", 
                 "relation", "purpose_jplace"
                      ]]

noact_data = data[["sex", "age", "marry", "recommend", "num_people", 
                 "relation",  "purpose_jplace"
                      ]]

print(act_data_pid)

         pid  act_nature  act_food  act_sports  act_shop  act_museum  \
0     100101           1         1           1         0           0
1     100102           3         1           0         0           0
2     100103           5         0           1         0           0
3     100104           2         1           1         0           0
4     100105           0         1           0         0           0
...      ...         ...       ...         ...       ...         ...
6129  106230           3         1           0         0           0
6130  106231           3         0           1         0           0
6131  106232           2         1           0         0           0
6132  106233           1         0           0         0           0
6133  106234           0         1           0         0           0

      act_movie  act_bitch  act_report  act_culture  act_history  \
0             0          0           0            0            0
1             0          0           0            0            0
2             0          0           0            0            0
3             0          0           0            0            0
4             0          0           0            0            0
...         ...        ...         ...          ...          ...
6129          0          0           0            0            0
6130          0          0           0            0            0
6131          0          0           0            0            0
6132          0          0           0            0            0
6133          0          0           0            0            0

      act_religion  purpose_jplace
0                0           60004
1                0          174004
2                0           77001
3                0           70008
4                0           37005
...            ...             ...
6129             0           70008
6130             0           57003
6131             0           90009
6132             0           37005
6133             0          174004

[6134 rows x 13 columns]

In [73]:
import random
random.seed(1)
for i in range(6134):
    for j in range(0,11):
        if act_data.values[i][j] != 0:
            act_data.values[i][j] = random.randrange(1,6)

act_data_pid = pd.concat([data['pid'], act_data], axis=1)
print(act_data_pid)

act_data_pid.loc[0] = [1714257,0,5,0,0,0,0,0,0,0,0,0,60004]
act_data_pid.loc[1] = [1613413,4,0,0,0,0,0,0,0,0,0,0,77001]
act_data_pid.loc[2] = [1712377,0,0,5,0,0,0,0,0,0,0,0,57003]

act_data_pid.head()

         pid  act_nature  act_food  act_sports  act_shop  act_museum  \
0     100101           2         5           1         0           0
1     100102           3         1           0         0           0
2     100103           4         0           4         0           0
3     100104           4         4           2         0           0
4     100105           0         1           0         0           0
...      ...         ...       ...         ...       ...         ...
6129  106230           1         4           0         0           0
6130  106231           4         0           4         0           0
6131  106232           3         4           0         0           0
6132  106233           1         0           0         0           0
6133  106234           0         2           0         0           0

      act_movie  act_bitch  act_report  act_culture  act_history  \
0             0          0           0            0            0
1             0          0           0            0            0
2             0          0           0            0            0
3             0          0           0            0            0
4             0          0           0            0            0
...         ...        ...         ...          ...          ...
6129          0          0           0            0            0
6130          0          0           0            0            0
6131          0          0           0            0            0
6132          0          0           0            0            0
6133          0          0           0            0            0

      act_religion  purpose_jplace
0                0           60004
1                0          174004
2                0           77001
3                0           70008
4                0           37005
...            ...             ...
6129             0           70008
6130             0           57003
6131             0           90009
6132             0           37005
6133             0          174004

[6134 rows x 13 columns]

,pid,act_nature,act_food,act_sports,act_shop,act_museum,act_movie,act_bitch,act_report,act_culture,act_history,act_religion,purpose_jplace
0,1714257,0,5,0,0,0,0,0,0,0,0,0,60004
1,1613413,4,0,0,0,0,0,0,0,0,0,0,77001
2,1712377,0,0,5,0,0,0,0,0,0,0,0,57003
3,100104,4,4,2,0,0,0,0,0,0,0,0,70008
4,100105,0,1,0,0,0,0,0,0,0,0,0,37005

In [75]:
# 평균제곱차이 유사도
# act 데이터

from collections import OrderedDict

def sim_msd(data, name1, name2):
    s = 0
    count = 0
    for i in data[data.pid == name1]:
        if i == "pid":
            continue
        s += pow(int(data[data.pid == name1][i]) - int(data[data.pid == name2][i]), 2)
        count += 1
        
    return 1 / (1 + (s / count))

def top_match(data, name, index = 10, sim_function = sim_msd):
    li = []
    for i in data["pid"]:
        if (name != i):
            li.append((sim_function(data, name, i), i))
    li.sort()
    li.reverse()
    
    c = []
    for i in range(index):
        if int(data.loc[data.pid == li[i][1], "purpose_jplace"]) is not int(data.loc[data.pid == name, "purpose_jplace"]):
            c.append(int(data.loc[data.pid == li[i][1], "purpose_jplace"]))
            c = list(OrderedDict.fromkeys(c))
    
    return c


top_match(act_data_pid, 1613413)

[77001]

In [78]:
# 코사인 유사도
# act 데이터

from math import sqrt
from collections import OrderedDict

def sim_cosine(data, name1, name2):
    sum_name1 = 0
    sum_name2 = 0
    sum_name1_name2 = 0

    for i in data[data.pid == name1]:
        if i == "pid":
            continue
        sum_name1 += pow(int(data[data.pid == name1][i]), 2)
        sum_name2 += pow(int(data[data.pid == name2][i]), 2)
        sum_name1_name2 += int(data[data.pid == name1][i]) * int(data[data.pid == name2][i])
        
    return sum_name1_name2 / (sqrt(sum_name1)*sqrt(sum_name2))

def top_match(data, name, index = 10, sim_function = sim_cosine):
    li = []
    for i in data["pid"]:
        if (name != i):
            li.append((sim_function(data, name, i), i))
    li.sort()
    li.reverse()
    
    c = []
    for i in range(index):
        if int(data.loc[data.pid == li[i][1], "purpose_jplace"]) is not int(data.loc[data.pid == name, "purpose_jplace"]):
            c.append(int(data.loc[data.pid == li[i][1], "purpose_jplace"]))
            c = list(OrderedDict.fromkeys(c))
    
    return c

top_match(act_data_pid, 1613413)

[77001]

In [79]:
# 피어슨 유사도
# act 데이터

from collections import OrderedDict

def sim_pearson(data, name1, name2):
    avg_name1 = 0
    avg_name2 = 0
    count = 0
    for i in data[data.pid == name1]:
        if i == "pid":
            continue
        avg_name1 = int(data[data.pid == name1][i])
        avg_name2 = int(data[data.pid == name2][i])
        count += 1
        
    avg_name1 = avg_name1 / count
    avg_name2 = avg_name2 / count
    
    sum_name1 = 0
    sum_name2 = 0
    sum_name1_name2 = 0
    count = 0
    for i in data[data.pid == name1]:
        if i == "pid":
            continue
        sum_name1 += pow(int(data[data.pid == name1][i]) - avg_name1, 2)
        sum_name2 += pow(int(data[data.pid == name2][i]) - avg_name2, 2)
        sum_name1_name2 += (int(data[data.pid == name1][i]) - avg_name1) * (int(data[data.pid == name2][i]) - avg_name2)
        
    return sum_name1_name2 / (sqrt(sum_name1)*sqrt(sum_name2))

def top_match(data, name, index = 10, sim_function = sim_pearson):
    li = []
    for i in data["pid"]:
        if (name != i):
            li.append((sim_function(data, name, i), i))
    li.sort()
    li.reverse()
    
    c = []
    for i in range(index):
        if int(data.loc[data.pid == li[i][1], "purpose_jplace"]) is not int(data.loc[data.pid == name, "purpose_jplace"]):
            c.append(int(data.loc[data.pid == li[i][1], "purpose_jplace"]))
            c = list(OrderedDict.fromkeys(c))
    
    return c

top_match(act_data_pid, 1613413)

[77001]